.con{
    padding-top: 150px;
    width: 100%;
    left:5px;
    
  }
.container{
    
    height: 500px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header_body{
    
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: x-large;
    font-weight: 900;
    border: black solid 2px;
    top: 0;
    position: sticky;
}
.header_body span{
    padding-left: 120px;
    
}

.header_name{
    
    width: 19.7%;
}


.data_body{
    
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: 1.1em ;
    font-weight: 600;
    
}

.data_name{
    padding-left: 10px;
    width: 19.7%;
}

.footer_body{
    font-size: 1.5em;
    display: flex;
    margin-top: 10px;
    font-weight: 900;
    border-top:orange solid 5px;
    width: 99%;
    justify-content: space-between;
    
}
.footer_name{
    padding: 10px 10px 10px 5px;
    width: 20%;
    
}
.footer_body:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer_body span{
    padding-left: 120px;
    
}

.bt{
    display: flex;
    margin-right: 500px;
}
.bt_b{
    width: 10px;
}