
.Contaner{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 20px;
    background-color: whitesmoke;
    border: white solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.Contaner p {
    
    font-weight: 700;
    font-size: 1.4em;
    
}
.from_container{
    
    display: flex;
    flex-direction: column;
    
    
}

.text_field{
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
}

.btn{
    display: flex;
    
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 600px) {
   
    .Contaner{

        width: 100vw ;
        box-shadow: none;
    }

    
  }